:root {
	--primary-color: #090f13;
	--secundary-color: #171f25;
	--tertiary-color: #db3026;
	--quaternary-color: #e88a25;
	--btn-primary-color: #6cf3d5;
	--btn-secundary-color: #13c8b5;
	--text-primary-color: #0a0c0d;
	--text-secundary-color: #edebe6;
	--text-tertiary-color: #f2f2f2;
	--bg-primary-color: #f7f7f7;
	--bg-secundary-color: #fcfdff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

.container {
	min-height: 100vh;
}

#admin-login {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-secundary-color);
}

#admin-login form {
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	padding: 20px;
	background-color: var(--bg-primary-color);
	width: 450px;
	gap: 1.2rem;
	box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.1);
}

#admin-login form .profile-image {
	height: 150px;
	width: 150px;
	background-size: cover;
	margin: 0 auto;
}

#admin-login form h2 {
	color: var(--secundary-color);
	font-weight: 500;
	text-align: center;
}

#admin-login form .input-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#admin-login form .input-field label {
	font-weight: 200;
	color: var(--secundary-color);
}

#admin-login form .input-field input {
	border: 1px solid transparent;
	height: 40px;
	padding: 5px 5px 5px 10px;
	border-radius: 3px;
}

#admin-login form .input-field input:focus {
	border-color: var(--btn-secundary-color);
}

.btn {
	border: none;
	height: 40px;
	font-weight: 600;
	cursor: pointer;
	font-size: 1rem;
	letter-spacing: 0.02rem;
	background-color: var(--btn-primary-color);
	color: var(--text-secundary-color);
	border-radius: 3px;
	transition: 0.3s ease;
}

.btn:hover {
	background-color: var(--btn-secundary-color);
	color: var(--text-tertiary-color);
}

form .error {
	color: var(--tertiary-color);
	text-align: center;
	font-size: 0.9rem;
	font-weight: 300;
}

form .general-error p {
	color: var(--text-tertiary-color);
	font-weight: 300;
	text-align: center;
	background-color: var(--tertiary-color);
	border-radius: 5px;
	padding: 10px;
}

/* home */

.home {
	display: flex;
	min-height: 100vh;
	background-color: var(--text-tertiary-color);
}

#more-options {
	flex: 1 0 20%;
}

#content {
	flex: 1 0 80%;
	padding: 0 30px;
}

/* content */

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

#navbar .btn {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

#nav-actions {
	display: flex;
	gap: 1rem;
}

#recipes-list {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 2px solid var(--btn-secundary-color);
}

#recipes-list h2 {
	color: var(--quaternary-color);
	margin-bottom: 3rem;
	font-weight: 300;
	background-color: var(--text-secundary-color);
	padding: 8px;
	border-radius: 3px;
}

#recipes {
}

/* more options */
