/* animations */

@keyframes moveLeft1 {
	0% {
		left: -97%;
	}

	100% {
		left: -197%;
	}
}

@keyframes moveLeft2 {
	0% {
		left: 3%;
	}

	100% {
		left: -97%;
	}
}

@keyframes moveLeft3 {
	0% {
		left: 103%;
	}

	100% {
		left: 3%;
	}
}

@keyframes moveLeft4 {
	0% {
		left: 203%;
	}

	100% {
		left: 103%;
	}
}

/* general */

:root {
	--primary-color: #fc580c;
	--secundary-color: #fdca49;
	--tertiary-color: #ff494b;
	--quaternary-color: #58ce74;
	--text-primary-color: #0b0b0d;
	--text-secundary-color: #8f898d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.logo span {
	font-size: 2.5rem;
}

.logo a {
	font-family: 'Satisfy', cursive;
	color: var(--primary-color);
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	gap: 0.3em;
	font-weight: bold;
}

.btn {
	background-color: var(--primary-color);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* navbar */

#navbar {
	background-color: var(--secundary-color);
}

#navbar .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

#menu ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

#menu ul li:last-child a {
	display: flex;
	align-items: center;
}

#menu ul li a {
	color: var(--primary-color);
	font-size: 1.1rem;
	transition: 0.3s;
}

#menu ul li a:hover {
	color: var(--tertiary-color);
}

#search form {
	display: flex;
	gap: 0;
	align-items: center;
	position: relative;
}

#search form input {
	border: 2px solid var(--secundary-color);
	border-radius: 10px;
	height: 40px;
	padding-left: 0.5rem;
	outline: none;
}

#search form input:focus {
	border-color: var(--primary-color);
}

#search form button {
	border: none;
	height: 40px;
	background-color: transparent;
	display: flex;
	align-items: center;
	width: auto;
	right: 0.3rem;
	position: absolute;
	cursor: pointer;
}

#search form button:hover {
	color: var(--primary-color);
}

.login {
	padding: 7px 15px;
	border-radius: 15px;
	gap: 0.3em;
}

/* banner */

#banner {
	height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	position: relative;
}

.category-bg {
	position: absolute;
	background-size: cover;
	width: 94%;
	height: 80%;
	border-radius: 8px;
}

.category-bg:nth-child(1) {
	left: -97%;
}

.category-bg:nth-child(2) {
	left: 3%;
}

.category-bg:nth-child(3) {
	left: 103%;
}

.category-bg:nth-child(4) {
	left: 203%;
}

.category-bg:nth-child(1),
.category-bg:nth-child(2),
.category-bg:nth-child(3),
.category-bg:nth-child(4) {
	display: block;
}

.category-bg:nth-child(5),
.category-bg:nth-child(6),
.category-bg:nth-child(7),
.category-bg:nth-child(8),
.category-bg:nth-child(9),
.category-bg:nth-child(10),
.category-bg:nth-child(11),
.category-bg:nth-child(12),
.category-bg:nth-child(13),
.category-bg:nth-child(14),
.category-bg:nth-child(15) {
	display: none;
}

.move-left-1,
.move-left-2,
.move-left-3,
.move-left-4 {
	/* animation-duration: 2s; */
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

.move-left-1 {
	animation-name: moveLeft1;
}

.move-left-2 {
	animation-name: moveLeft2;
}

.move-left-3 {
	animation-name: moveLeft3;
}

.move-left-4 {
	animation-name: moveLeft4;
}
