/* animations */

@keyframes moveLeft1 {
	0% {
		left: -50%;
	}

	100% {
		left: -150%;
	}
}

@keyframes moveLeft2 {
	0% {
		left: 50%;
	}

	100% {
		left: -50%;
	}
}

@keyframes moveLeft3 {
	0% {
		left: 150%;
	}

	100% {
		left: 50%;
	}
}

@keyframes moveLeft4 {
	0% {
		left: 250%;
	}

	100% {
		left: 150%;
	}
}

/* general */

:root {
	--primary-color: #fc580c;
	--secundary-color: #fdca49;
	--tertiary-color: #ff494b;
	--quaternary-color: #58ce74;
	--bg-primary-color: #fbf7f1;
	--bg-secundary-color: #ffd1b3;
	--text-primary-color: #0b0b0d;
	--text-secundary-color: #8f898d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.logo a {
	color: var(--primary-color);
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	gap: 0.2em;
	font-weight: bold;
	font-family: 'Pacifico', cursive;
}

.logo a img {
	width: 36px;
}

.btn {
	background-color: var(--primary-color);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
}

.btn:hover {
	background-color: var(--quaternary-color);
}

/* navbar */

#navbar {
	background-color: var(--secundary-color);
}

#navbar .nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

#menu ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

#menu ul li:last-child a {
	display: flex;
	align-items: center;
}

#menu ul li a {
	color: var(--primary-color);
	font-size: 1.1rem;
	transition: 0.3s;
}

#menu ul li a:hover {
	color: var(--tertiary-color);
}

#search form {
	display: flex;
	gap: 0;
	align-items: center;
	position: relative;
}

#search form input {
	border: 2px solid var(--secundary-color);
	border-radius: 6px;
	height: 40px;
	padding-left: 0.5rem;
	outline: none;
}

#search form input:focus {
	border-color: var(--primary-color);
}

#search form button {
	border: none;
	height: 40px;
	background-color: transparent;
	display: flex;
	align-items: center;
	width: auto;
	right: 0.8rem;
	font-size: 1rem;
	position: absolute;
	cursor: pointer;
}

#search form button:hover {
	color: var(--primary-color);
}

.login {
	padding: 7px 15px;
	border-radius: 5px;
	gap: 0.3em;
}

/* banner */

#banner {
	height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	position: relative;
	background-image: url('../assets/imgs/tablecloth.png');
}

.category-bg {
	position: absolute;
	width: 100%;
	max-width: 1000px;
	height: 92%;
	border-radius: 50%;
	transform: translateX(-50%);
	box-shadow: 5px 9px 3px 4px rgba(0, 0, 0, 0.5);
}

.category-bg:nth-child(1) {
	left: -50%;
}

.category-bg:nth-child(2) {
	left: 50%;
}

.category-bg:nth-child(3) {
	left: 150%;
}

.category-bg:nth-child(4) {
	left: 250%;
}

.category-bg:nth-child(1),
.category-bg:nth-child(2),
.category-bg:nth-child(3),
.category-bg:nth-child(4) {
	display: block;
}

.category-bg:nth-child(5),
.category-bg:nth-child(6),
.category-bg:nth-child(7),
.category-bg:nth-child(8),
.category-bg:nth-child(9),
.category-bg:nth-child(10),
.category-bg:nth-child(11),
.category-bg:nth-child(12),
.category-bg:nth-child(13),
.category-bg:nth-child(14),
.category-bg:nth-child(15) {
	display: none;
}

.category-name {
	font-size: 5rem;
	font-family: 'Pacifico', cursive;
	color: var(--primary-color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 2px rgba(255, 255, 255, 0.8);
	text-align: center;
	text-transform: uppercase;
}

.move-left-1,
.move-left-2,
.move-left-3,
.move-left-4 {
	/* animation-duration: 2s; */
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

.move-left-1 {
	animation-name: moveLeft1;
}

.move-left-2 {
	animation-name: moveLeft2;
}

.move-left-3 {
	animation-name: moveLeft3;
}

.move-left-4 {
	animation-name: moveLeft4;
}

/* sections and cards */

.title {
	color: var(--primary-color);
	font-family: 'Pacifico', cursive;
	font-size: 1.4rem;
	margin-bottom: 2rem;
	flex: 0 0 100%;
}

#most-searched-recipes,
#top-rated,
#new-recipes {
	margin-top: 3.5rem;
}

.most-searched-recipes,
.top-rated,
.special,
.new-recipes {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
	justify-content: flex-start;
}

.most-searched-recipes-card,
.top-rated-card,
.special-card,
.recipe-card {
	height: 250px;
	flex: 1 0 20%;
	min-width: 250px;
	max-width: calc(25% - 1%);
	border-radius: 8px;
}

.recipe-card,
.top-rated-card,
.most-searched-recipes-card {
	overflow: hidden;
}

.most-searched-image {
	height: 70%;
	position: relative;
	background-size: cover;
}

.most-searched-time {
	position: absolute;
	right: 0.8em;
	top: 0.8em;
	color: var(--bg-primary-color);
	font-size: 1.2rem;
	font-weight: 600;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.most-searched-time .bi {
	color: var(--bg-primary-color);
}

.most-searched-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30%;
	background-color: var(--bg-primary-color);
	padding: 10px;
	text-transform: capitalize;
}

.most-searched-title h4 {
	font-weight: 300;
	font-size: 1rem;
	color: var(--tertiary-color);
}

#top-rated,
#special {
	background-color: var(--bg-primary-color);
}

#top-rated {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#special {
	padding-bottom: 6rem;
}

.top-rated-image {
	position: relative;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.top-rated-title,
.top-rated-rating {
	position: absolute;
}

.top-rated-rating {
	right: 0.8em;
	top: 0.8em;
	font-size: 1.5em;
	color: var(--bg-primary-color);
}

.top-rated-rating .bi {
	color: var(--primary-color);
}

.top-rated-title {
	text-align: center;
	bottom: 2em;
	left: 50%;
	transform: translateX(-50%);
	color: var(--bg-primary-color);
	font-size: 1.2rem;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
	text-transform: capitalize;
}

.special-card {
	position: relative;
}

.special-info,
.special-card-image {
	position: absolute;
}

.special-card-image {
	border-radius: 50%;
	left: 50%;
	transform: translateX(-50%);
	height: 12.5rem;
	width: 12.5rem;
	z-index: 99;
	background-size: cover;
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.4);
}

.special-info {
	height: 120px;
	bottom: -3.2em;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	padding: 30px 10px 20px;
	border-radius: 5px;
	width: 90%;
	background-color: var(--secundary-color);
}

.special-title {
	color: var(--primary-color);
	margin-bottom: 0.5em;
	color: var(--text-primary-color);
	font-size: 1rem;
}

.special-title h4 {
	font-weight: 300;
	text-transform: capitalize;
}

.special-time .bi {
	color: var(--tertiary-color);
}

.new-recipes {
	padding-top: 4rem;
}

.recipe-image {
	position: relative;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.recipe-image h4,
.recipe-image .recipe-time,
.recipe-image .rating {
	position: absolute;
}

.recipe-image h4 {
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: var(--bg-primary-color);
	text-transform: capitalize;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.1em;
	font-size: 1.4rem;
	width: 95%;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}

.recipe-image .recipe-time,
.recipe-image .rating {
	top: 0.8em;
}

.recipe-image .recipe-time {
	right: 1em;
}

.recipe-image .rating {
	left: 1em;
}

.recipe-image .rating {
	color: var(--text-secundary-color);
}

.recipe-image .rating .bi {
	color: var(--primary-color);
}

.recipe-image .recipe-time {
	background-color: #fff;
	border-radius: 4px;
	padding: 5px;
	color: var(--text-secundary-color);
}

.recipe-image .recipe-time .bi {
	color: var(--text-primary-color);
}

/* recipe page */

#recipe-container {
	display: flex;
	gap: 3rem;
}

#recipe,
#others-recipes {
	margin-top: 4rem;
}

#recipe {
	max-width: 70%;
}

#others-recipes {
	max-width: 30%;
	flex-grow: 1;
}

#recipe-image {
	height: 550px;
	flex: 1 0 100%;
	border-radius: 10px;
	overflow: hidden;
}

.recipe-photo {
	position: relative;
	height: 80%;
	background-size: cover;
}

.recipe-photo .title {
	position: absolute;
	bottom: 2rem;
	left: 1rem;
	color: var(--bg-primary-color);
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.recipe-photo .title h1 {
	font-family: 'Pacifico', cursive;
}

#recipe-image .info {
	background-color: var(--bg-primary-color);
	height: 20%;
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	align-items: center;
}

#recipe-image .info .portions-and-time {
	display: flex;
	gap: 1.5rem;
}

#recipe-image .info .portions-and-time .bi {
	color: var(--quaternary-color);
	font-size: 1.5rem;
}

#recipe-image .info .portions-and-time div {
	display: flex;
	align-items: center;
	gap: 0.8em;
}

#recipe-image .info .rating a {
	color: var(--primary-color);
}

#recipe-image .info .rating a .bi {
	font-size: 1.3rem;
	cursor: pointer;
}

#recipe-body {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

#ingredients ul {
	list-style: none;
	padding-left: 2rem;
}

#ingredients ul li {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

#ingredients ul li .bi {
	color: var(--quaternary-color);
	font-size: 1.5rem;
	text-shadow: 1px 2px 3px;
}

#method-of-preparation p,
#tips p {
	line-height: 2em;
}

#method-of-preparation,
#tips p {
	text-align: justify;
}

#method-of-preparation p::first-letter,
#tips p::first-letter {
	margin-left: 1em;
}

#others-recipes .most-searched-recipes-card {
	margin-top: 2rem;
	display: block;
	max-width: 100%;
}

/* comments */

#comments-container {
	margin-top: 5rem;
}

.not-authorized {
	text-align: center;
	padding: 10px 0;
	margin-bottom: 30px;
	border-radius: 3px;
	font-weight: 300;
	font-size: 1.2rem;
	font-style: italic;
	background-color: var(--text-secundary-color);
	color: var(--bg-primary-color);
	opacity: 0.5;
}

#comments-container h4 {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

#comment-form {
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
	justify-content: flex-end;
}

#comment-form label {
	flex: 0 0 5%;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-color);
}

#comment-form input[type='text'] {
	flex: 1 0 95%;
	padding-left: 1rem;
	outline: none;
	background-color: var(--bg-primary-color);
	border: 1px solid var(--text-secundary-color);
	border-radius: 5px;
}

#comment-form button,
#comment-form input[type='submit'] {
	flex: 0 0 10%;
	margin-top: 1.2rem;
	border: none;
	border-radius: 5px;
	padding: 8px 25px;
	cursor: pointer;
}

#comments .comment {
	background-color: var(--bg-primary-color);
	width: 100%;
	padding: 10px 20px 30px;
	border-radius: 8px;
	margin-top: 2rem;
}

#comments .user-profile {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#comments .user-profile .bi {
	font-size: 2.5rem;
	color: #fdca49;
}

#comments .user-profile .profile-name h5 {
	font-family: 'Pacifico', cursive;
	font-size: 1.3rem;
}

#comments .comment .user-comment {
	color: var(--primary-color);
	margin-top: 0.5rem;
	padding-left: 2rem;
	font-weight: 500;
	font-style: italic;
}

/* register and login form */

#form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#form-container .change-form {
	color: var(--text-secundary-color);
	text-align: center;
	font-weight: 300;
	font-size: 0.9rem;
}

#form-container .change-form a {
	color: var(--primary-color);
	font-weight: bold;
	transition: 0.3s;
}

#form-container .change-form a:hover {
	color: var(--quaternary-color);
}

#register-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--bg-primary-color);
	border-radius: 8px;
	padding: 20px;
	width: 400px;
}

.input-field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	position: relative;
}

.input-field label {
	font-size: 1rem;
	font-weight: 200;
}

.input-field input {
	height: 35px;
	padding-left: 1.8rem;
	outline: none;
	border: 1px solid var(--text-secundary-color);
	border-radius: 3px;
}

.input-field input:focus {
	border-color: var(--tertiary-color);
}

#password,
#confirm_password {
	padding-left: 0.6rem;
}

.input-field .bi {
	position: absolute;
	top: 2.4rem;
	color: var(--tertiary-color);
}

.bi-person-fill,
.bi-envelope-fill {
	left: 0.5rem;
}

.show-pass .bi {
	right: 0.5rem;
	cursor: pointer;
}

.form-btn {
	border: none;
	border-radius: 5px;
	height: 40px;
	cursor: pointer;
	font-weight: 500;
}

.error {
	color: var(--tertiary-color);
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
}

.empty-fields p {
	background-color: var(--tertiary-color);
	color: var(--bg-primary-color);
	padding: 10px 0;
	border-radius: 3px;
}

/* footer */

#footer {
	margin-top: 3rem;
}

#social-media {
	background-color: var(--bg-secundary-color);
	padding: 40px 0;
}

.social {
	display: flex;
	gap: 2em;
}

.social-btn {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.social-about {
	margin-top: 2rem;
	display: flex;
	gap: 2rem;
}

.social-about a {
	color: var(--primary-color);
	font-weight: 600;
	transition: 0.3s;
}

.social-about a:hover {
	color: var(--tertiary-color);
}

#reserved-rights {
	background-color: var(--text-primary-color);
	color: var(--bg-primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px 0;
}

#reserved-rights .bi {
	color: var(--tertiary-color);
}

#reserved-rights span {
	font-weight: 600;
}

/* ultils */

.hidden {
	display: none;
}
